.x-site-top {
  position: absolute;
  width: 100%;
  background-color: #4d4d4d;
  height: 180px;
}

.x-site-mid {
  position: relative;
  top: 110px;
  border: 5px solid #fff;
  border-radius: 300px;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background-image: url(/assets/images/Lozye.jpg);
  background-size: contain;
}

.x-site-footer {
  position: relative;
  top: 150px;
  width: 100%;
  text-align: center;
}

.x-site-title {
  font-family: Consolas;
  font-size: 130%;
}

.x-site-slogan {
  margin-top: 20px;
  color: #4d4d4d;
  font-size: 80%;
}
	.x-site-slogan a, .x-site-title a{
		text-decoration: none;
		color: #4d4d4d;
	}

.x-footer-msg ul {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 12px;
  line-height: 60px;
}
.x-footer-msg li {
  display: inline-block;
}
.x-footer a,
.x-footer span {
  color: #ddd;
  text-decoration: none;
  text-align: right;
}
