.x-wapper {
  background-color: #eee;
}

.x-main {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 200px;
  z-index: 1;
}
 .x-site {
   z-index: 2;
 }

.x-footer {
  min-height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.x-hidden {
  clear: both;
}

.x-noselect {
  /*-- non_select --*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 720px) {
  .x-site {
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #fff;
  }
  .x-main {
    float: right;
    width: 100%;
  }
  .x-container,
  .x-footer {
    margin-left: 300px;
    padding: 0 20px;
  }
}

@media (max-width: 720px) {
  .x-site {
    height: 400px;
    background-color: #eee;
  }
  .x-container,
  .x-footer {
    padding: 0 20px;
  }
}
