<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    {% seo %}
    <link href="{{ "/assets/css/unsemantic.min.css?v=" | append: site.github.build_revision | relative_url }}" rel="stylesheet" />
    <link href="{{ "/assets/css/lozye.css?v=" | append: site.github.build_revision | relative_url }}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="x-wrapper">
        <div class="x-header">
            <div class="grid-container">
                <div class="grid-40 mobile-grid-40">
                    <a href="{{ "/" | absolute_url }}" class="x-title">
                        <b>{{ site.title | default: site.github.repository_name }}</b>
                        <span>{{ site.description | default: site.github.project_tagline }}</span>
                    </a>
                </div>
                <div class="prefix-30 grid-30 mobile-grid-60 grid-container">
                    <nav class="x-nav">
                        <ul>
                            <li><a href="{{ site.github.repository_url }}">PROJECT</a></li>
                            <li><a href="{{ site.github.owner_url }}">USERPAGE</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="x-body">
            <div class="grid-container">
                <div class="grid-100 main-content">

                    {{ content }}

                </div>
            </div>
        </div>
        <div class="x-footer" style="display:none;">
            <div class="grid-container">
                <div class="grid-40 mobile-grid-100">
                    <p id="hitokoto">身处黑夜，心向黎明！</p>
                    <p>&nbsp;</p>
                </div>
                <div class="grid-50 mobile-grid-100">
                    <ul>
                        <li>product by @Lozye</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>console.log({{ site.github }});</script>
</body>
</html>
