<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    {% seo %}
    <link href="{{ "/assets/css/unsemantic.min.css?v=" | append: site.github.build_revision | relative_url }}"
        rel="stylesheet" />
    <link href="{{ "/assets/css/web.position.css?v=" | append: site.github.build_revision | relative_url }}"
        rel="stylesheet" />
    <link href="{{ "/assets/css/web.site.css?v=" | append: site.github.build_revision | relative_url }}"
        rel="stylesheet" />
    <link href="{{ "/assets/css/web.box.css?v=" | append: site.github.build_revision | relative_url }}"
        rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="x-wapper">
        <div class="x-site">
            <div class="x-site-top"></div>
            <div class="x-site-mid"></div>
            <div class="x-site-footer">
                <p class="x-site-title">{{ site.title }}</p>
                <p class="x-site-slogan"><a target="_blank"
                        href="{{ site.github.owner_url }}">{{ site.description }}</a> </p>
            </div>
        </div>
        <div class="x-main">
            <div class="x-container">
                <div class="x-box grid-box">
                    <div class="grid-box x-box-header">
                        <div class="x-box-title grid-box">{{ page.title }}</div>
                        <div class="x-box-date grid-box">{{ page.date | "YYYY-MM-DD" }}</div>
                    </div>
                    <div class="grid-box x-box-markdown"> {{ content }} </div>
                    <div class="grid-box x-box-footer">
                        <div class="x-box-line">
                            <a href="/index.html">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-footer">
                <div class="x-footer-msg x-noselect grid-box">
                    <ul>
                        <li><span>product by
                                <a href="https://github.com/lozye" target="_blank">@Lozye</a>
                            </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="x-hidden"></div>
    </div>
</body>

</html>